*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F2EDEB;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
